[Oo]bj
[Bb]in
Build
packages
*.user
*.suo
*.[Cc]ache
*.ncb
*.log
*.log.*
*.orig
*.swp
*.rej
*.DS_Store
*.ncrunchproject
*.ncrunchsolution
[Tt]humbs.db 
_ReSharper.*
*.resharper
[Cc]lient[Bb]in
*.Publish.xml
TestResult.xml
MCN.VisualState.xml
Draftsman.VisualState.xml
Publish
CommonAssemblyInfo.cs
[Oo]utput.txt
*.js.map
*.css.map
[Bb]ootstrapper.d.ts
[Bb]ootstrapper.js
node_modules/
_Chutzpah.*.*.js
_Chutzpah.*.*.html
# links made by InitializeRepo.cmd
SlnDir
# Visual Studio test runner playlists
*.playlist
SonarQubeTemp
CI/dotcover
CI/dotCover.html
**/.vs/*
**/.vscode/*
WebApiProxy.generated.cs
**/pkg/**/*.*
**/*.vs/**
**/.vscode/**
**/UI.Server/dist/**
**/package-lock.json
**/appsettings.Development.json
**/dist/**
**/.rp2_cache/**
*.local.json
# These are copied automatically using build targets & are duplicates
hosting/**/Scripts/Deploy-FabricApplication.ps1
hosting/**/Scripts/*.Octopus.ps1
hosting/**/Scripts/FabricDeploymentTools/**
**/*.md5sum